#s1{
    
    height: 70%;
    background-color:#ff7979;
    margin-bottom: 3%;
}
#s2{
    
    height: 70%;
    background-color: #82ccdd;
    margin-bottom: 3%;
}

#s3{
 padding: auto;
    height: 70%;
    background-color:#32ff7e;
    margin-bottom: 3%;
    
}

#s4{
    padding: auto;
       height: 70%;
       background-color:#fff200;
       margin-bottom: 3%;
       
   }
   
   #s5{
    padding: auto;
       height: 70%;
       background-color:#ffcccc;
       margin-bottom: 3%;
       
   }
   
   p {
       font-weight: bold;
   }