<ion-header>
  <ion-toolbar>
    <ion-title><b>Test Answers</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div>
  <h2>Temel Seviye Test Cevap Anahtarı</h2>
  <ol>
    <li>Science   = Bilim</li>
    <li>Classical = Klasik</li>
    <li>Carnation = Karanfil</li>
    <li>Atom      = Atom</li>
    <li>Van       = Kamyonet</li>
    <li>Polish    = Parlatmak</li>
    <li>Stone     = Taş</li>
    <li>Finger    = Parmak</li>
    <li>Subtraction= Çıkarmak/Çıkarma İşlemi </li>
    <li>Parrot = Papağan</li>
  </ol>
</div>
<div>
  <h2>Orta Seviye Test Cevap Anahtarı</h2>
  <ol>
    <li>Humor   = Mizah</li>
    <li>Groom = Damat</li>
    <li>Get mad = Öfkelenmek</li>
    <li>Sew     = Dikiş dikmek</li>
    <li>confidence   = Güven</li>
    <li>Adventure   = Macera</li>
    <li>Bağırmak    = Scream</li>
    <li>Lawyer   = Avukat</li>
    <li>Expect = Ummak/ Beklemek </li>
    <li>Journalist = Gazeteci</li>
  </ol>
</div>
<div>
  <h2>İleri Seviye Test Cevap Anahtarı</h2>
  <ol>
    <li>Reckless  = Dikkatsiz</li>
    <li>Hostage = Rehin</li>
    <li>Candid = Samimi</li>
    <li>Blame    = Suçlamak</li>
    <li>Embassy  = Elçilik</li>
    <li>Independent   = Bağımsız</li>
    <li>Receipt  = Makbuz/ Fiş</li>
    <li>Witness   = Şahit/ Şahit Olmak</li>
    <li>Bleak = Borç/Ödünç Para/ Kredi </li>
    <li>Achievement = Başarı</li>
  </ol>
</div>
</ion-content>
