<ion-header>
  <ion-toolbar>
    <ion-title>Orta Seviye</ion-title>
    <ion-buttons slot="start">
      <ion-back-button Href="home.page.html"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <img src="../assets/image/message.png" style="width: 100%; margin: auto;">
  <ion-slides id="s1" pager="false" [options]="slideOpts">
    <ion-slide class="slide1">
        <div class="div" onClick="SesOynat('accurate');" ><audio id="accurate"><source src="assets/audio/orta/accurate.mp3" type="audio/mpeg"></audio> <p>accurate </p><img style="width: 20%;" src="assets/image/orta/a1.png"><br><br><p> kesin, doğru, ince</p><br><br> </div>
    </ion-slide>
     <ion-slide class="slide2">
        <div class="div" onClick="SesOynat('dissapointed');" ><audio id="dissapointed"><source src="assets/audio/orta/dissapointed.mp3" type="audio/mpeg"></audio> <p>dissapointed </p><img style="width: 20%;" src="assets/image/orta/a2.png"><br><br><p> hayal kırıklığına uğramış</p> </div>
    </ion-slide>
    <ion-slide class="slide3">
        <div class="div" onClick="SesOynat('sew');" ><audio id="sew"><source src="assets/audio/orta/sew.mp3" type="audio/mpeg"></audio> <p>sew </p><img style="width: 20%;" src="assets/image/orta/a3.png"><br><br><p>dikiş dikmek</p> </div>
    </ion-slide>
    <ion-slide class="slide4">
        <div class="div" onClick="SesOynat('remark');" ><audio id="remark"><source src="assets/audio/orta/remark.mp3" type="audio/mpeg"></audio><p>remark </p><img style="width: 20%;" src="assets/image/orta/a4.png"><br><br><p>belirtmek, görüş, yorum </p> </div>
    </ion-slide>
    <ion-slide class="slide5">
        <div class="div" onClick="SesOynat('chandelier');" ><audio id="chandelier"><source src="assets/audio/orta/chandelier.mp3" type="audio/mpeg"></audio> <p>chandelier </p><img style="width: 50%;" src="assets/image/orta/a5.png"><br><br><p>avize </p> </div>
    </ion-slide>
  </ion-slides>


  <ion-slides id="s2" pager="false" [options]="slideOpts">
    <ion-slide class="slide1">
        <div class="div" onClick="SesOynat('straight');" ><audio id="straight"><source src="assets/audio/orta/straight.mp3" type="audio/mpeg"></audio> <p>straight </p><img style="width: 30%;" src="assets/image/orta/a6.png"><br><br><p>doğruca, düz(çizgi), doğru</p> </div>
    </ion-slide>
    <ion-slide class="slide2">
        <div class="div" onClick="SesOynat('customs');" ><audio id="customs"><source src="assets/audio/orta/customs.mp3" type="audio/mpeg"></audio> <p>customs</p><img style="width: 30%;" src="assets/image/orta/a7.png"><br><br><p>gümrük, gelenek görenek, gümrük vergisi</p> </div>
    </ion-slide>
    <ion-slide class="slide3">
       <div class="div" onClick="SesOynat('charming');" ><audio id="charming"><source src="assets/audio/orta/charming.mp3" type="audio/mpeg"></audio> <p>charming </p><img style="width:30%;" src="assets/image/orta/a8.png"><br><br><p> çekici</p> </div>
    </ion-slide>
    <ion-slide class="slide4">
        <div class="div" onClick="SesOynat('peek');" ><audio id="peek"><source src="assets/audio/orta/peek.mp3" type="audio/mpeg"></audio> <p>peek </p><img style="width: 30%;" src="assets/image/orta/a9.png"><br><br><p> göz atmak, bakmak, dikizlemek </p> </div>
    </ion-slide>
    <ion-slide class="slide5">
       <div class="div" onClick="SesOynat('declare');" ><audio id="declare"><source src="assets/audio/orta/a10.mp3" type="audio/mpeg"></audio> <p>declare </p><img style="width: 30%;" src="assets/image/orta/a10.png"><br><br><p>beyan etmek, ilan etmek </p> </div>
    </ion-slide>
  </ion-slides>

  <ion-slides id="s3" pager="false" [options]="slideOpts">
    <ion-slide class="slide1">
       <div class="div" onClick="SesOynat('getintouchwith');" ><audio id="getintouchwith"><source src="assets/audio/orta/getintouchwith.mp3" type="audio/mpeg"></audio> <p>get in touch with </p><img style="width: 35%;" src="assets/image/orta/a11.png"><br><br><p> irtibat halinde olmak, iletişime geçmek</p> </div>
    </ion-slide>
    <ion-slide class="slide2">
        <div class="div" onClick="SesOynat('humor');" ><audio id="humor"><source src="assets/audio/orta/humor.mp3" type="audio/mpeg"></audio> <p>humor</p><img style="width: 30%;" src="assets/image/orta/a12.png"><br><br><p> mizah </p> </div>
    </ion-slide>
    <ion-slide class="slide3">
       <div class="div" onClick="SesOynat('offend');" ><audio id="offend"><source src="assets/audio/orta/offend.mp3" type="audio/mpeg"></audio> <p>offend </p><img style="width: 30%;" src="assets/image/orta/a13.png"><br><br><p> rencide etmek, gücendirmek</p> </div>
    </ion-slide>
    <ion-slide class="slide4">
         <div class="div" onClick="SesOynat('suffering');" ><audio id="suffering"><source src="assets/audio/orta/suffering.mp3" type="audio/mpeg"></audio> <p>suffering </p><img style="width: 20%;" src="assets/image/orta/a14.png"><br><br><p> ızdırap, cefa </p> </div>
    </ion-slide>
    <ion-slide class="slide5">
        <div class="div" onClick="SesOynat('heal');" ><audio id="heal"><source src="assets/audio/orta/heal.mp3" type="audio/mpeg"></audio> <p>heal </p><img style="width: 60%;" src="assets/image/orta/a15.png"><br><br><p> iyileştirmek, şifa bulmak </p> </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides id="s4" pager="false" [options]="slideOpts">
    <ion-slide class="slide1">
      <div class="div" onClick="SesOynat('groom');" ><audio id="groom"><source src="assets/audio/orta/groom.mp3" type="audio/mpeg"></audio> <p>groom </p><img style="width:40%;" src="assets/image/orta/a16.png"><br><br><p>damat </p> </div>
    </ion-slide>
    <ion-slide class="slide2">
      <div class="div" onClick="SesOynat('getmad');" ><audio id="getmad"><source src="assets/audio/orta/getmad.mp3" type="audio/mpeg"></audio> <p>get mad</p><img style="width: 40%;" src="assets/image/orta/a17.png"><br><br><p>öfkelenmek, kızmak</p> </div>
    </ion-slide>
    <ion-slide class="slide3">
      <div class="div" onClick="SesOynat('confidence');" ><audio id="confidence"><source src="assets/audio/orta/confidence.mp3" type="audio/mpeg"></audio> <p>confidence </p><img style="width:40%;" src="assets/image/orta/a18.png"><br><br><p> güven</p> </div>
    </ion-slide>
    <ion-slide class="slide4">
      <div class="div" onClick="SesOynat('patience');" ><audio id="patience"><source src="assets/audio/orta/patience.mp3" type="audio/mpeg"></audio> <p>patience</p><img style="width: 200px; height: 200px;" src="assets/image/orta/a19.jpg"><br><br> <p>sabır</p> </div>
    </ion-slide>
    <ion-slide class="slide5">
           <div class="div" onClick="SesOynat('adventure');" ><audio id="adventure"><source src="assets/audio/orta/adventure.mp3" type="audio/mpeg"></audio><p>adventure </p><img style="width: 40%;" src="assets/image/orta/a20.png"><br><br><p> macera, serüven</p> </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides id="s5" pager="false" [options]="slideOpts">
    <ion-slide class="slide1">
      <div class="div" onClick="SesOynat('lawyer');" ><audio id="lawyer"><source src="assets/audio/orta/lawyer.mp3" type="audio/mpeg"></audio> <p> lawyer </p><img style="width: 300px; height: 300px;" src="assets/image/orta/a21.jpg"><br><br><p>avukat</p> </div>
    </ion-slide>
    <ion-slide class="slide2">
      <div class="div" onClick="SesOynat('scream');" ><audio id="scream"><source src="assets/audio/orta/scream.mp3" type="audio/mpeg"></audio> <p>scream</p><img style="width: 40%;" src="assets/image/orta/a22.png"><br><br><p> bağırmak, çığlık atmak</p> </div>
    </ion-slide>
    <ion-slide class="slide3">
      <div class="div" onClick="SesOynat('expect');" ><audio id="expect"><source src="assets/audio/orta/expect.mp3" type="audio/mpeg"></audio> <p>expect </p><img style="width: 50%;" src="assets/image/orta/a23.png"><br><br><p> ummak, beklemek</p> </div>
    </ion-slide>
    <ion-slide class="slide4">
      <div class="div" onClick="SesOynat('journalist');" ><audio id="journalist"><source src="assets/audio/orta/journalist.mp3" type="audio/mpeg"></audio> <p>journalist</p><img style="width: 200px; height: 200px;" src="assets/image/orta/a24.jpg"><br><br> <p>gazeteci </p> </div>
    </ion-slide>
    <ion-slide class="slide5">
           <div class="div" onClick="SesOynat('extend');" ><audio id="extend"><source src="assets/audio/orta/extend.mp3" type="audio/mpeg"></audio><p>extend </p><img style="width: 90%;" src="assets/image/orta/a25.png"><br><br><p> uzatmak, genişletmek</p> </div>
    </ion-slide>
  </ion-slides>

</ion-content>
