.container{
    position: absolute;
    top: 10%;
    bottom: 50%;
    left: 1%;
    margin: 0px auto;
    border: 3px black ridge;
    border-radius: 5px;
       
}


.form-group{
    float: left;
    font-size: large;
    padding: 5%;
}

.form-control{
    font-size: large;
    padding: 5%;
    margin-top:5%;
}


 