<ion-header>
  <ion-toolbar>
    <ion-title>İleri Seviye</ion-title>
    <ion-buttons slot="start">
      <ion-back-button Href="home.page.html"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../assets/image/message.png" style="width: 100%; margin: auto;">
  <ion-slides id="s1" pager="false" [options]="slideOpts">
    <ion-slide class="slide1">
       <div class="div" onClick="SesOynat('reckless');" ><audio id="reckless"><source src="assets/audio/zor/reckless.mp3" type="audio/mpeg"></audio><p>reckless</p><img style="width: 50%;" src="assets/image/zor/a1.png"><br><br><p> dikkatsiz, aldırışsız, pervasız</p></div>
      </ion-slide>
    <ion-slide class="slide2">
      <div class="div" onClick="SesOynat('exaggeration');" ><audio id="exaggeration"><source src="assets/audio/zor/exaggeration.mp3" type="audio/mpeg"></audio><p>exaggeration</p><img style="width: 50%;" src="assets/image/zor/a2.png"><br><br><p>abartma</p></div>
    </ion-slide>
    <ion-slide class="slide3">
      <div class="div" onClick="SesOynat('asset');" ><audio id="asset"><source src="assets/audio/zor/asset.mp3" type="audio/mpeg"></audio> <p> asset </p><img style="width: 50%;" src="assets/image/zor/a3.png"><br><br> <p> servet, değerli nitelik</p> </div>
     </ion-slide>
    <ion-slide class="slide4">
      <div class="div" onClick="SesOynat('deteriorate');" ><audio id="deteriorate"><source src="assets/audio/zor/deteriorate.mp3" type="audio/mpeg"></audio><p>deteriorate </p> <img style="width: 50%;" src="assets/image/zor/a4.jpg"><br><br> <p>kötüye gitmek, kötüleşmek </p> </div>
    </ion-slide>
    <ion-slide class="slide5">
      <div class="div" onClick="SesOynat('identify');" ><audio id="identify"><source src="assets/audio/zor/identify.mp3" type="audio/mpeg"></audio><p>identify</p><img style="width: 50%;" src="assets/image/zor/a5.png"><br><br> <p> tanımlamak, kimliğini tespit etmek </p> </div>
    </ion-slide>
  </ion-slides> 

  <ion-slides id="s2" pager="false" [options]="slideOpts">
    <ion-slide class="slide1">
      <div class="div" onClick="SesOynat('nourishment');" ><audio id="nourishment"><source src="assets/audio/zor/nourishment.mp3" type="audio/mpeg"></audio><p>nourishment</p><img style="width: 80%;" src="assets/image/zor/a6.png"><br><br> <p>gıda, besin</p> </div>
    </ion-slide>
    <ion-slide class="slide2">
     <div class="div" onClick="SesOynat('hostage');" ><audio id="hostage"><source src="assets/audio/zor/hostage.mp3" type="audio/mpeg"></audio><p>hostage</p><img style="width: 50%;" src="assets/image/zor/a7.png"><br><br><p>rehin</p> </div>
    </ion-slide>
    <ion-slide class="slide3">
      <div class="div" onClick="SesOynat('disregard');" ><audio id="disregard"><source src="assets/audio/zor/disregard.mp3" type="audio/mpeg"></audio> <p> disregard (for)</p><img style="width:50%;" src="assets/image/zor/a8.png"><br><br> <p>aldırmamazlık, umursamamazlık</p> </div>
    </ion-slide>
    <ion-slide class="slide4">
     <div class="div" onClick="SesOynat('integrity');" ><audio id="integrity"><source src="assets/audio/zor/integrity.mp3" type="audio/mpeg"></audio> <p>integrity</p><img style="width: 50%;" src="assets/image/zor/a9.png"><br><br><p>saygınlık, dürüstlük </p> </div>
    </ion-slide>
    <ion-slide class="slide5">
      <div class="div" onClick="SesOynat('sanction');" ><audio id="sanction"><source src="assets/audio/zor/sanction.mp3" type="audio/mpeg"></audio><p>sanction </p><img style="width: 80%;" src="assets/image/zor/a10.jpg"><br><br><p> yatırım </p>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-slides id="s3" pager="false" [options]="slideOpts">
    <ion-slide class="slide1">
      <div class="div" onClick="SesOynat('appal');" ><audio id="appal"><source src="assets/audio/zor/appal.mp3" type="audio/mpeg"></audio> <p>appal </p><img style="width: 70%;" src="assets/image/zor/a11.png"><br><br><p>dehşete düşürmek, korkutmak</p> </div>
    </ion-slide>
    <ion-slide class="slide2">
      <div class="div" onClick="SesOynat('territory');" ><audio id="territory"><source src="assets/audio/zor/territory.mp3" type="audio/mpeg"></audio> <p>territory</p><img style="width: 30%; height: 30%;" src="assets/image/zor/a12.png"><br><br><p> bölge, arazi </p> </div>
    </ion-slide>
    <ion-slide class="slide3">
      <div class="div" onClick="SesOynat('candid');" ><audio id="candid"><source src="assets/audio/zor/candid.mp3" type="audio/mpeg"></audio> <p>candid </p><img style="width: 50%;" src="assets/image/zor/a13.jpg"><br><br><p> samimi</p> </div>
    </ion-slide>
    <ion-slide class="slide4">
      <div class="div" onClick="SesOynat('describe');" ><audio id="describe"><source src="assets/audio/zor/describe.mp3" type="audio/mpeg"></audio> <p>describe </p><img style="width: 50%;" src="assets/image/zor/a14.png"><br><br> <p>tanımlamak, tarif etmek </p> </div>
    </ion-slide>
    <ion-slide class="slide5">
           <div class="div" onClick="SesOynat('enormous');" ><audio id="enormous"><source src="assets/audio/zor/enormous.mp3" type="audio/mpeg"></audio><p>enormous </p><img style="width: 80%;" src="assets/image/zor/a15.png"><br><br><p> muazzam, kocaman, müthiş </p> </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides id="s4" pager="false" [options]="slideOpts">
    <ion-slide class="slide1">
      <div class="div" onClick="SesOynat('blame');" ><audio id="blame"><source src="assets/audio/zor/blame.mp3" type="audio/mpeg"></audio> <p>blame </p><img style="width:300px; height: 200px;" src="assets/image/zor/a16.jpg"><br><br><p>suçlamak</p> </div>
    </ion-slide>
    <ion-slide class="slide2">
      <div class="div" onClick="SesOynat('embassy');" ><audio id="embassy"><source src="assets/audio/zor/embassy.mp3" type="audio/mpeg"></audio> <p>embassy</p><img style="width: 80%; height: 80%;" src="assets/image/zor/a17.png"><br><br><p> elçilik </p> </div>
    </ion-slide>
    <ion-slide class="slide3">
      <div class="div" onClick="SesOynat('independent');" ><audio id="independent"><source src="assets/audio/zor/independent.mp3" type="audio/mpeg"></audio> <p>independent </p><img style="width: 200px; height: 200px;" src="assets/image/zor/a18.jpg"><br><br><p> bağımsız</p> </div>
    </ion-slide>
    <ion-slide class="slide4">
      <div class="div" onClick="SesOynat('receipt');" ><audio id="receipt"><source src="assets/audio/zor/receipt.mp3" type="audio/mpeg"></audio> <p>receipt </p><img style="width: 200px; height: 200px;" src="assets/image/zor/a19.jpg"><br><br> <p>fiş, makbuz </p> </div>
    </ion-slide>
    <ion-slide class="slide5">
           <div class="div" onClick="SesOynat('witness');" ><audio id="witness"><source src="assets/audio/zor/witness.mp3" type="audio/mpeg"></audio><p>witness </p><img style="width: 200px; height: 200px;" src="assets/image/zor/a20.jpg"><br><br><p> şahit, şahit olmak </p> </div>
    </ion-slide>
  </ion-slides>
  
  <ion-slides id="s5" pager="false" [options]="slideOpts">
    <ion-slide class="slide1">
      <div class="div" onClick="SesOynat('bleak');" ><audio id="bleak"><source src="assets/audio/zor/bleak.mp3" type="audio/mpeg"></audio> <p>bleak </p><img style="width: 200px; height: 200px;" src="assets/image/zor/a21.jpg"><br><br><p>kasvetli, rüzgarlı</p> </div>
    </ion-slide>
    <ion-slide class="slide2">
      <div class="div" onClick="SesOynat('loan');" ><audio id="loan"><source src="assets/audio/zor/loan.mp3" type="audio/mpeg"></audio> <p>loan</p><img style="width: 80%; height: 80%;" src="assets/image/zor/a22.png"><br><br><p> ödünç para, borç, kredi </p> </div>
    </ion-slide>
    <ion-slide class="slide3">
      <div class="div" onClick="SesOynat('weakness');" ><audio id="weakness"><source src="assets/audio/zor/weakness.mp3" type="audio/mpeg"></audio> <p>weakness </p><img style="width: 50%;" src="assets/image/zor/a23.jpg"><br><br><p> kuvvetsizlik, dayanıksızlık</p> </div>
    </ion-slide>
    <ion-slide class="slide4">
      <div class="div" onClick="SesOynat('justice');" ><audio id="justice"><source src="assets/audio/zor/justice.mp3" type="audio/mpeg"></audio> <p>justice</p><img style="width: 250px; height: 150px;" src="assets/image/zor/a24.jpg"><br><br> <p>adalet </p> </div>
    </ion-slide>
    <ion-slide class="slide5">
           <div class="div" onClick="SesOynat('request');" ><audio id="request"><source src="assets/audio/zor/request.mp3" type="audio/mpeg"></audio><p>request </p><img style="width: 80%;" src="assets/image/zor/a25.jpg"><br><br><p> talep, talep etmek, rica etmek </p> </div>
    </ion-slide>
  </ion-slides>

</ion-content>
