#s1{
    
    height: 70%;
    background-color:#D980FA;
    margin-bottom: 3%;
}
#s2{
    
    height: 70%;
    background-color: #67e6dc;
    margin-bottom: 3%;
}

#s3{
 padding: auto;
    height: 70%;
    background-color:#ffb8b8;
    margin-bottom: 3%;
    
}

#s4{
    padding: auto;
       height: 70%;
       background-color:#fd9644;
       margin-bottom: 3%;
       
   }
   
   #s5{
    padding: auto;
       height: 70%;
       background-color:#4b7bec;
       margin-bottom: 3%;
       
   }
   
   p {
       font-weight: bold;
   }