<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><img style="width: 30%; height: 30%;" src="assets/icon/favicon.png"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-toolbar>
      <h1><span>KAYIT VE GİRİŞ</span></h1> <div style="float:top;margin:0 10px 10px 0;"><ion-button color="dark" [routerLink]="['/login']" >KAYIT/ GİRİŞ </ion-button></div>
      <h1><span>KELİMELER</span></h1> <div style="float:top;margin:0 10px 10px 0;"> <ion-button color="dark" [routerLink]="['/temel']" >TEMEL SEVİYE </ion-button></div>
      <div style="float:top;margin:0 10px 10px 0;"> <ion-button color="dark" [routerLink]="['/orta']"  >ORTA SEVİYE </ion-button></div>
      <div style="float:top;margin:0 10px 10px 0;">  <ion-button color="dark" [routerLink]="['/ileri']" >İLERİ SEVİYE </ion-button></div>
      <h1><span>KENDİNİ TEST ET!</span></h1> <div style="float:top;margin:0 10px 10px 0;"> <ion-button color="dark" [routerLink]="['/test']" >TEMEL SEVİYE TEST </ion-button></div>
      <div style="float:top;margin:0 10px 10px 0;"> <ion-button color="dark" [routerLink]="['/test1']" >ORTA SEVİYE TEST </ion-button></div>
      <div style="float:top;margin:0 10px 10px 0;">  <ion-button color="dark" [routerLink]="['/test2']" >İLERİ SEVİYE TEST </ion-button></div>
      <h1><span>KELİME DEFTERİM</span></h1> <div style="float:top;margin:0 10px 10px 0;">  <ion-button color="dark" [routerLink]="['/fire']" >EZBERLEDİĞİM KELİMELER</ion-button></div>
    </ion-toolbar>
  

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>
